element.style {
}
.blog-post {
  margin-bottom: 60px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheetdiv {
  display: block;
}
Inherited from 
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
Inherited from 
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: url('http://i.imgur.com/o1VMrS5.jpg');
}

Inherited from 
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
Pseudo ::before element
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
Pseudo ::after element
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

margin‒
‒border‒
‒padding‒
‒616.656 × 1376‒
‒‒
‒‒
60

.
.